<div class="masthead">
  <h1>Now Playing</h1>
  <% if @current_track %>
    <div class="media-item">
      <img class="img" width="50" height="50">
      <div class="content">
        <span class="song-name"><%= @current_track.title %></span>
        <span class="band-album-name"><%= @current_track.artists.first %> - <%= @current_track.album %></span>
      </div>
    </div>
  <% else %>
    <p>No current song. Search for a song and select it to queue for playback.</p>
  <% end %>
</div>

<div class="playlist">
  <h1>Up Next</h1>
  <% if @next_tracks && @next_tracks.present? %>
    <ol>
    <% @next_tracks.each do |track| %>
      <li class="media-item">
        <img class="img" width="50" height="50">
        <div class="content">
          <span class="song-name"><%= track.title %></span>
          <span class="band-album-name"><%= track.artists.first %> - <%= track.album %></span>
        </div>
      </li>
    <% end %>
    </ol>
  <% else %>
    <p>No upcoming songs. Search for a song and select it to queue for playback.</p>
  <% end %>
</div>
