<div class="playlist">
  <h1>Now Playing</h1>
  <% if @current_track %>
    <div class="media-item">
      <img class="img" width="50" height="50">
      <div class="content">
        <span class="song-name"><%= @current_track.title %></span>
        <span class="band-album-name"><%= @current_track.artists.first %> - <%= @current_track.album %></span>
      </div>
    </div>
  <% end %>

  <h1>Up Next</h1>
  <ol>
  <% @next_tracks.each do |track| %>
    <li class="media-item">
      <img class="img" width="50" height="50">
      <div class="content">
        <span class="song-name"><%= track.title %></span>
        <span class="band-album-name"><%= track.artists.first %> - <%= track.album %></span>
      </div>
    </li>
  <% end if @next_tracks %>
  </ol>
</div>
