<div class="search-results">
  <ul>
    <% @results.each do |item| %>
      <li class="search-result" onclick="" data-title="<%= item.title %>" data-artist="<%= item.artists.first %>" data-album="<%= item.album %>" data-url="<%= item.url %>">
        <span class="song-name"><%= item.title %></span>
        <span class="band-album-name"><%= item.artists.first %> - <%= item.album %></span>
      </li>
    <% end %>
  </ul>
</div>
