<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Remote DJ</title>
  <meta name="description" content="The 9mmedia Jukebox">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="app-wrapper">

  <div class="app-header">
    <div class="app-logo">
      9m DJ
    </div>
    <%= form_tag '/search', method: 'get' do %>
      <%= text_field_tag :q, params[:q], placeholder: "Search songs...", class: 'search-field' %>
      <%= submit_tag 'Go', name: nil, class: 'btn hidden' %>
    <% end %>
  </div>

  <div class="app-main-content">
    <%= yield %>
  </div>

</div>

<%= javascript_include_tag "application" %>

</body>
</html>
